@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

#form{
    background-color: white;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    padding: 30px;
    margin: 40px 20px;
    align-items: flex-start;
}

#form h1{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
    color: #001A72;
}

#form input{
    border: 2px solid #001A72;
    filter: drop-shadow(0px 4px 6px rgba(184, 163, 103, 0.2));
    border-radius: 3px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    padding: 7px 14px;
    letter-spacing: 0.8px;
    margin: 10px 0px;


    color: #747171;

}

#component{
    background-color:#B3DEFE;
    width: 100vh;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#next {
    background: #001A72;
    box-shadow: 0px 4px 6px rgba(184, 163, 103, 0.2);
    border-radius: 20px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.8px;

    color: #FFFFFF;
    padding: 7px 10px;
    width: calc(100vw - 40px);
    margin-bottom: 40px;
}