html,
body {
  height: 100%
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.title {
  font-size: 4rem;
  font-weight: 600;
  color: #000000;
  text-align: center;
  top: 10%;
  margin-bottom: 10vh;
}

.header {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  text-align: center;
}

.create,
.join {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 70vw;
  max-width: 500px;
  border: 1px solid #f5f5f5;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.button-join,
.button-create {
  width: 85px;
}

.footer {
  position: absolute;
  bottom: 3vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

.tablist {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
