#container{
    background-color: #B3DEFE;
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    padding: 30px 20px;
}
#container button{
    border-radius: 20px;
    
}
#footer{
    width: 100vw;
    height: 50px;
}

